<div class="content-box">
    <h2>jQuery Modal</h2>
    <p>modal popup</p>
    <div class="content-box-inner">
        <div id="mask"></div>
        <div class="window">
            <i class="close fa fa-times fa-lg"></i>
            <div class="cbi-title"><p><a href="#">modal.vm</a></p></div>
<div><pre><code><span>importorg.springframework.boot.*;</span>
<span>importorg.springframework.boot.autoconfigure.*;</span>
<span>importorg.springframework.stereotype.*;</span>
<span>importorg.springframework.web.bind.annotation.*;</span>
<span>@Controller</span>
<span>@EnableAutoConfiguration</span>
<span>public class SampleController{</span>
<span class="cbi-indent-x4">@RequestMapping("/")</span>
<span class="cbi-indent-x4">@ResponseBody</span>
<span class="cbi-indent-x4">String home() {</span>
<span class="cbi-indent-x8">return"Hello World!";</span>
<span class="cbi-indent-x4">}</span>
<span class="cbi-indent-x4">publicstatic void main(String[] args) throws Exception {</span>
<span class="cbi-indent-x8">SpringApplication.run(SampleController.class, args);</span>
<span class="cbi-indent-x4">}</span>
<span>}</span></code></pre></div>
        </div>
        <div><button class="open-mask">팝업 열기</button></div>
    </div>
</div>
<div class="content-box">
    <h2>jQuery Modal</h2>
    <p>modal popup</p>
    <div class="content-box-inner">
        <div class="cbi-title"><p><a href="#"><i class="fa fa-fw fa-github"></i> modal.vm</a></p></div>
<div><pre><code><span>importorg.springframework.boot.*;</span>
<span>importorg.springframework.boot.autoconfigure.*;</span>
<span>importorg.springframework.stereotype.*;</span>
<span>importorg.springframework.web.bind.annotation.*;</span>
<span>@Controller</span>
<span>@EnableAutoConfiguration</span>
<span>public class SampleController{</span>
<span class="cbi-indent-x4">@RequestMapping("/")</span>
<span class="cbi-indent-x4">@ResponseBody</span>
<span class="cbi-indent-x4">String home() {</span>
<span class="cbi-indent-x8">return"Hello World!";</span>
<span class="cbi-indent-x4">}</span>
<span class="cbi-indent-x4">publicstatic void main(String[] args) throws Exception {</span>
<span class="cbi-indent-x8">SpringApplication.run(SampleController.class, args);</span>
<span class="cbi-indent-x4">}</span>
<span>}</span></code></pre></div>
    </div>
</div>