<div class="content-box">
    <h2>modal popup</h2>
    <p>레이어 형태의 대화형 팝업</p>
    <ul>
        <li><a href="/web/modal">modal popup</a></li>
    </ul>
</div>
<div class="content-box">
    <h2>slide show</h2>
    <p>슬라이드 효과</p>
    <ul>
        <li><a href="/web/slideshow">slide show</a></li>
    </ul>
</div>
<div class="content-box">
    <h2>3D card flip effect</h2>
    <p>CSS transition 변형 속성</p>
    <ul>
        <li><a href="/web/cardflip">card flip</a></li>
    </ul>
</div>
