<div class="content-box">
    <h2>modal popup</h2>
    <p>레이어 형태의 대화형 팝업</p>
    <ul>
        <li><a href="/web/modal">modal popup</a></li>
    </ul>
</div>
<div class="content-box">
    <h2>drop down menu</h2>
    <p>드롭다운 메뉴</p>
    <ul>
        <li><a href="#">drop down menu</a></li>
    </ul>
</div>
<div class="content-box">
    <h2>slide show</h2>
    <p>슬라이드 효과</p>
    <ul>
        <li><a href="#">slide show</a></li>
    </ul>
</div>