@charset "UTF-8";

/* list 형식 슬라이드 */
/*
 구조: div 안에 ul 또는 div
 원리: 바깥 div, 안쪽 ul, div에 relative / 안쪽 요소에 -left값으로 이동
 */
.slider-box {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.slider-img-panel {
    position: relative;
    left: 0%;
}
.slider-img-panel ul {
    padding: 0px;
    margin: 0px;
    width: 300%;
}
.slider-img-panel li {
    float: left;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 33.333333%;
}
.slider-img-panel img {
    max-width: 100%;
}
/* 슬라이더 컨트롤 좌우 */
.slider-angle-panel {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -35px;
}
.slider-angle-panel i {
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.6s ease;
}
.slider-angle-panel i:hover {
    color: #717171;
}
.sap-left {
    float: left;
}
.sap-right {
    float: right;
}
/* 슬라이더 컨트롤 하단 */
.slider-control-panel-2 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -34.5px;
}
.control-button-2 {
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin-right: 10px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.control-button-2:hover {
    background-color: #717171;
}

/* 599px 이하 */
@media (max-width: 599px) {

}
/* 767px 이하 */
@media (max-width: 767px) {
    /* 슬라이드쇼 캔버스 */
    .slideshow-canvas {
        overflow: hidden;
        position: relative;
        width: 353px;
    }
    .slider-image-panel {
        position: relative;
        width: 2676px;
    }
    .slider-image {
        float: left;
        width: 353px;
    }
    .slider-text-panel {
        position: absolute;
        top: 0px;
    }
    .slider-text {
        position: absolute;
        color: #ffffff;;
        padding: 5px 10px;
        width: 50px;
    }
    .slider-control-panel {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -42px;
    }
    .control-button {
        cursor: pointer;
        width: 13px;
        height: 13px;
        margin-right: 10px;
        background: #bbb;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .control-button:hover {
        background-color: #717171;
    }
    /* 부모요소를 벗어나지 않는 이미지 */
    .test-img {
        max-width: 100%;
        height: auto;
    }
}
/* 768 이상 */
@media (min-width: 768px) {
    /* 슬라이드쇼 캔버스 */
    .slideshow-canvas {
        overflow: hidden;
        position: relative;
        width: 892px;
    }
    .slider-image-panel {
        position: relative;
        width: 2676px;
    }
    .slider-image {
        float: left;
        width: 892px;
    }
    .slider-text-panel {
        position: absolute;
        top: 0px;
    }
    .slider-text {
        position: absolute;
        color: #ffffff;;
        padding: 5px 10px;
        width: 50px;
    }
    .slider-control-panel {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -42px;
    }
    .control-button {
        cursor: pointer;
        width: 13px;
        height: 13px;
        margin-right: 10px;
        background: #bbb;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .control-button:hover {
        background-color: #717171;
    }

    /* 부모요소를 벗어나지 않는 이미지 */
    .test-img {
        max-width: 100%;
        height: auto;
    }
}
