@charset "UTF-8";
/* 초기화 코드 */
* {margin: 0; padding: 0;}
body {font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif; background-color: #f1f1f1; }
li {list-style: none;}
a {text-decoration: none; font-size: 14px; color: #34302d}
img {border: 0;}

/* 배경색 지정 */
.header {background-color: #34302d}
.header-sub {background-color: #666}
.container-inner-left {background-color: #f1f1f1}
.container-inner-right {background-color: #6db33f}
.footer {background-color: #34302d}

/* jquery modal popup */
#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}
.window {
    display: none;
    position: absolute;
    z-index: 10000;
}
.window i {
    float: right;
    padding-top: 15px;
    padding-right: 10px;
    display: block;
    cursor: pointer;
}
.window .overflow {
    overflow-x: auto;
    white-space: nowrap;
}
/* 599px 이하 */
@media (max-width: 599px) {
}
/* 767px 이하 */
@media (max-width: 767px) {
    /* 타이틀 이미지 설정 */
    .header-title i {
        width: 200px;
        color: #ebf1e7;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        vertical-align: middle;
    }
    /* 메뉴 간격 설정 */
    .top-menu li {
        margin-left: 10px;
        margin-right: 10px;
        border-top: 1px solid #6db33f;
    }
    .top-menu a {
        padding: 20px 10px;
        display: block;
        color: #f1f1f1;
        font-size: 15px;
        text-decoration: none;
    }
    .top-menu a:hover {opacity: 0.8;}
    /* 토글 버튼 */
    #top-menu-btn {
        padding: 20px;
        background-color: transparent;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    #top-menu-btn:hover {opacity: 0.8;}
    #top-menu-btn i {
        color: #ffffff;
        font-size: 22px;
    }
    #top-menu-btn span {
        display: inline-block;
        text-indent: -9999px;
    }
    /* 내비게이션 메뉴 토글로 감추기 */
    #top-menu {display: none;}

    /* 서브 헤더 위아래 조절 */
    .description {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        color: #ebf1e7;
        font-size: 24px;
    }
    .description h1 {
        font-size: 27px;
    }

    /* 오른쪽 서브 메뉴 꾸미기 */
    /* SNS 메뉴 */
    .follow {
        padding: 10px 10px;
    }
    .follow li a {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        color: #ffffff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 15px;
        text-decoration: none;
    }
    .follow li a:hover {opacity: 0.8}
    .source-down {background-color: #6db33f}
    .github {background-color: #333333}
    .follow-tw {background-color: #63bafb}
    .follow-fb {background-color: #5288f7}
    .follow-gp {background-color: #f65d4a}
    .follow-kt {background-color: #F9A825}
    .follow-tg {background-color: #0088cc}
    .follow i {
        margin-right: 10px;
        font-size: 24px;
        vertical-align: middle;
    }
    /* 우측 서브 메뉴 */
    .right-aside-menu {
        padding-left: 0px;
        padding-bottom: 10px;
    }
    .right-aside-menu h2 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .right-aside-menu p {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .right-aside-menu li {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 15px;
    }
    .right-aside-menu ul a{
        display: block;
    }

    /* 컨텐츠 박스 꾸미기 */
    .content {
        padding-bottom: 4px;
    }
    .content li {
        list-style-type: disc;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .content-box {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin-right: 10px;
        border-bottom: 1px solid #CFE3DC;
        font-size: 14px;
    }
    .content-box h2 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .content-box p {
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 0px;
    }
    .content-box ul {
        padding-left: 30px;
    }
    .content-box ul a{
        display: block;
    }
    .content-box-inner {
        background-color: #fff;
        margin: 10px 0px 12px 0px;
        padding-bottom: 10px;
        border: 1px solid #EAEAEA;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        overflow-x: auto;
    }
    .container-inner h2 {
        padding-left: 10px;
    }
    .container-inner p {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        white-space: nowrap;
    }
    .container-inner span {
        margin-right: 5px;
    }
    .content-box-inner .cbi-title {
        background-color: #C9F0DD;
        color: #0C4B33;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 110%;
    }
    .content-box-inner .cbi-indent-x4 {
        padding-left: 40px;
    }
    .content-box-inner .cbi-indent-x8 {
        padding-left: 70px;
    }
    .content-box-inner .cbi-annotation {
        color: #3c5d5d;
        font-weight: bold;
    }
    .content-box-inner .cbi-class {
        color: #3c5d5d;
        font-weight: bold;
    }
    .content-box-inner .cbi-method {
        color: #990000;
        font-weight: bold;
    }
    .container-inner .cbi-parameter {
        color: #3c5d5d;
    }
    .content-box-inner .cbi-bold {
        font-weight: bold;
    }
    /* modal popup */
    .window {
        overflow-x: auto;
        white-space: nowrap;
        display: none;
        position: absolute;
        z-index: 10000;
        width: 80%;
        height: auto;
    }
    /* 푸터 조절 */
    .copyright {
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .copyright p {
        color: #f1f1f1;
        font-size: 14px;
    }
}
/* 768 이상 */
@media (min-width: 768px) {
    /* 헤더 가로 및 세로중앙 정렬 */
    .header {
        line-height: 100px;
        height: 100px;
        border-top: 4px solid #6db33f;
    }
    .header:after {
        content: '';
        display: block;
        clear: both;
    }
    .header-title {
        float: left;
        width: auto;
    }
    .top-menu {
        float: right;
        width: auto;
    }
    /* 타이틀 이미지 설정 */
    .header-title i {
        width: 200px;
        color: #ebf1e7;
        padding-left: 10px;
        padding-bottom: 10px;
        vertical-align: middle;
    }
    /* 탑 메뉴 가로 정렬 */
    /*.top-menu {line-height: 100px;}*/
    .top-menu:after {
        content: '';
        display: block;
        clear: both;
    }
    .top-menu li {
        float: left;
        width: auto;
    }
    .top-menu a {
        min-width: 80px;
        display: block;
        color: #f1f1f1;
        font-size: 17px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .top-menu a:hover {background-color: #6db33f}
    /* 토글 버튼 */
    #top-menu-btn {display: none; text-indent: -9999px;}
    /*내비게이션*/
    #top-menu {display: block !important;}

    /* 서브 헤더 위아래 조절 */
    .description {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 10px;
        color: #ebf1e7;
        font-size: 24px;
    }
    .description h1 {
        font-size: 32px;
    }

    /* 컨텐츠와 우측박스 가로 정렬 */
    .container:after {
        content: '';
        display: block;
        clear: both;
    }
    .content {
        float: left;
        width: 70%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .right-aside {
        float: right;
        width: 30%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* 컨텐츠 박스 꾸미기 */
    .content {
        padding-bottom: 20px;
    }
    .content li {
        list-style-type: disc;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .content-box {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin-right: 56px;
        border-bottom: 1px solid #CFE3DC;
        font-size: 14px;
    }
    .content-box h2 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .content-box p {
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    .content-box ul {
        padding-left: 30px;
    }
    .content-box ul a{
        display: block;
    }
    .content-box-inner {
        background-color: #fff;
        margin: 10px 10px 30px 10px;
        padding-bottom: 10px;
        border: 1px solid #EAEAEA;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        overflow-x: auto;
    }
    .container-inner h2 {
        padding-left: 10px;
    }
    .container-inner p {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
    }
    .container-inner span {
        margin-right: 5px;
    }
    .content-box-inner .cbi-title {
        background-color: #C9F0DD;
        color: #0C4B33;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }
    .content-box-inner .cbi-indent-x4 {
        padding-left: 40px;
    }
    .content-box-inner .cbi-indent-x8 {
        padding-left: 70px;
    }
    .content-box-inner .cbi-annotation {
        color: #3c5d5d;
        font-weight: bold;
    }
    .content-box-inner .cbi-class {
        color: #3c5d5d;
        font-weight: bold;
    }
    .content-box-inner .cbi-method {
        color: #990000;
        font-weight: bold;
    }
    .container-inner .cbi-parameter {
        color: #3c5d5d;
    }
    .content-box-inner .cbi-bold {
        font-weight: bold;
    }

    /* 오른쪽 서브 메뉴 꾸미기 */
    /* SNS 메뉴 */
    .follow {
        width: 170px;
        padding: 20px 10px;
    }
    .follow li a {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
    }
    .follow li a:hover {opacity: 0.8}
    .source-down {background-color: #6db33f}
    .github {background-color: #333333}
    .follow-tw {background-color: #63bafb}
    .follow-fb {background-color: #5288f7}
    .follow-gp {background-color: #f65d4a}
    .follow-kt {background-color: #F9A825}
    .follow-tg {background-color: #0088cc}
    .follow i {
        margin-right: 10px;
        font-size: 24px;
        vertical-align: middle;
    }
    /* 우측 서브 메뉴 */
    .right-aside-menu {
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .right-aside-menu h2 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .right-aside-menu p {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0px;
    }
    .right-aside-menu li {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .right-aside-menu ul a{
        display: block;
    }

    /* 푸터 조절 */
    .copyright {
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .copyright p {
        color: #f1f1f1;
        font-size: 14px;
    }

}
/* 1190px 이상 */
@media (min-width: 1190px) {
    .header-inner, .header-sub-inner, .container-inner, .footer-inner {
        width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}
