<div class="content-box" xmlns="http://www.w3.org/1999/html">
    <h2>Srping file upload</h2>
    <p>파일 업로드 폼</p>
    <div class="content-box-inner">
        <div class="cbi-title"><p> fileupload.vm</p></div>
        <div>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file1">
                <input type="file" name="file2">
                <input type="submit" value="파일올리기">
            </form>
        </div>
    </div>
</div>
<div class="content-box">
    <h2>file upload code</h2>
    <p>포인트: @RequestParam, MultipartFile, transferTo</p>
    <div class="content-box-inner">
        <div class="cbi-title"><p><a href="https://github.com/kangyongho/springboot-demo/blob/feature/file-upload/src/main/java/net/ddns/HelloController.java">
            <i class="fa fa-fw fa-github"></i> HelloController.java</a></p></div>
<div><pre><code><span>importorg.springframework.web.multipart.MultipartFile;</span>
<span>@RequestMapping(value="upload", method=RequestMethod.POST)</span>
<span>public String uploadFiles(@RequestParam("file1") MultipartFile file1,</span>
<span class="cbi-indent-x8">@RequestParam("file2") MultipartFile file2) throws IOException {</span>
<span class="cbi-indent-x4">if (!file1.isEmpty()) {</span>
<span class="cbi-indent-x8">file1.transferTo(new File("C:＼＼storage＼＼"+file1.getOriginalFilename()));</span>
<span class="cbi-indent-x4">}</span>
<span class="cbi-indent-x4">if (!file2.isEmpty()) {</span>
<span class="cbi-indent-x8">file2.transferTo(new File("C:＼＼storage＼＼"+file2.getOriginalFilename()));</span>
<span class="cbi-indent-x4">}</span>
<span class="cbi-indent-x4">return "redirect:spring/fileupload";</span>
<span>}</span></code></pre></div>
    </div>
</div>