<div class="content-box">
    <h2>Spring Boot 시작하기</h2>
    <p>프로젝트 만들기</p>
    <ul>
        <li><a href="/spring/intellij">InteliJ로 시작하기</a></li>
        <li><a href="/spring/eclipse">Eclipse로 시작하기</a></li>
    </ul>
</div>
<div class="content-box">
    <h2>Jenkins 배포</h2>
    <p>빌드 배포 통합툴</p>
    <ul>
        <li><a href="/spring/jenkins">Jenkins 사용방법</a></li>
    </ul>
</div>
<div class="content-box">
    <h2>파일 업로드</h2>
    <p>웹브라우저의 업로드 기능과 서버의 역할</p>
    <ul>
        <li><a href="/spring/fileupload">스프링의 파일업로드</a></li>
    </ul>
</div>
##<div class="content-box">
##    <h2>페이징 기술</h2>
##    <p>다양한 페이징 기술</p>
##    <ul>
##        <li><a href="#">페이징이란?</a></li>
##        <li><a href="#">임시 데이터를 이용해보자</a></li>
##        <li><a href="#">DB 연동</a></li>
##        <li><a href="#">Ajax 연동</a></li>
##        <li><a href="#">Remote DB 연동</a></li>
##    </ul>
##</div>