<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hello daniel</title>
</head>
<body>
<h2>Hello! ${name}</h2>
<div>This form is Velocity</div>
<h3>The time on the server is ${servertime}</h3>
</body>
</html>