<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>mirlang2 portfolio</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/grid-guide.css" />
    <link href="http://fonts.googleapis.com/css?family=Paytone+One" " rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

<div>
<div class="box1">
    BOX1
</div>
</div>

<div class="box2">
    BOX2
</div>

<div class="box3">
    BOX3
</div>

<div class="box4">
    BOX4
</div>

<div class="box5">
    BOX5
</div>

</body>
</html>
